/* General Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
  overflow: hidden;
  transition: all 3s;
}

.lit-body {
  transition: all 3s;
  background-color: pink;
}

/* Button Styles */
button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.btn-primary {
  background-color: #ff00aa;
  color: #fff;
}

button.btn-primary:hover {
  background-color: #ff54c6;
}

/* Lights (Bulbs) */
.bulb {
  width: 20px;
  height: 20px;
  margin: 5px;
  margin-top: 80px;
  display: inline-block;
  background-color: #444;
  border-radius: 50%;
  box-shadow: 0 0 5px #444;
  transition: background-color 0.5s, box-shadow 0.5s;
  z-index: -8000;
}

.bulb.active {
  background-color: yellow;
  box-shadow: 0 0 15px yellow;
  animation: flicker 3s infinite;
}

/* Banner */
.bannar {
  font-size: 32px;
  font-weight: bold;
  margin: 20px auto;
  margin-top: 50px;
  opacity: 0;
  width: 400px;
  color: #f39c12;
  transition: opacity 1s ease-in-out;
}

.bannar.visible {
  opacity: 1;
}

/* Balloons */

.balloons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 120vh;
  width: 100vw;
  animation: float 5s infinite ease-in-out;
}

.balloon-border {
  position: fixed;
  top: -120vh;
  left: 0;
  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

.balloons {
  width: 90px;
  height: 150px;
  background-image: linear-gradient(#e4786d, #e74c3c);
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  padding-right: 10px;
}

.balloons-container.fly {
  top: 150px;
  transition: all 3s;
}

.balloon-border.fly {
  top: 0;
  transition: all 3s;
  z-index: -100;
}
#b1 {
  background-image: url("./b7.png");
}

#b2 {
  background-image: url("./b1.png");
  /* margin-left: 10px; */
}

#b3 {
  background-image: url("./b2.png");
  /* margin-left: 10px; */
}
#b4 {
  background-image: url("./b3.png");
  margin-left: 100px;
}
#b5 {
  background-image: url("./b4.png");
  /* margin-left: 10px; */
}
#b6 {
  background-image: url("./b5.png");
  /* margin-left: 10px; */
}
#b7 {
  background-image: url("./b6.png");
  /* margin-left: 10px; */
}

/* Cake */
.cake-cover {
  position: fixed;
  bottom: 10vh;
  width: 100vw;
  left: 0;
  padding-left: 20px;
}

.cake {
  width: 400px;
  height: 150px;
  border-radius: 10px;
  margin: 20px auto;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.candle {
  padding-left: 20px;
  position: absolute;
  height: 50px;
  top: -28px;
  right: 0;
  opacity: 0;
  transition: all 1s;
}

.flame {
  padding-left: 20px;
  position: absolute;
  height: 30px;
  top: -55px;
  right: 0;
  opacity: 0;
  transition: all 1s;
}

.cake.fade-in {
  opacity: 1;
}

.candle.fade-in {
  opacity: 1;
}

.flame.fade-in {
  transition: all 1s;
  opacity: 1;
  animation: flicker 1s infinite alternate ease-in-out;
  animation-delay: 1s;
}

/* Message */
.messages {
  left: 0;
  position: fixed;
  bottom: 10vh;
  width: 100vw;
  font-size: 24px;
  margin: 20px auto;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages.fade-in {
  opacity: 1;
}

.message {
  font-size: 24px;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  position: absolute;
  bottom: 0;
}

.message.fade-in {
  opacity: 1;
}

/* Keyframes */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
}

.hide {
  display: none;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.hide-btn {
  animation: fadeout 2s;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
}

.navbar > div {
  display: flex;
  justify-content: center;
}
